<div class="flex h-16 items-center gap-8">
  <!-- Logo custy -->
  <img class="h-8" src="assets/custy_logo_titre.svg" alt="Icone Custy" />

  <!-- Navigation -->
  <div class="flex h-full flex-1 gap-2">
    <button
      class="my-3 rounded-xl px-6 font-semibold uppercase transition-all duration-200 hover:text-purple-600"
      routerLink="charte-programmation"
      routerLinkActive="bg-purple-100 text-purple-600"
    >
      Charte de programmation
    </button>

    <button
      class="my-3 rounded-xl px-6 font-semibold uppercase transition-all duration-200 hover:text-purple-600"
      routerLink="issue-reintegration"
      routerLinkActive="bg-purple-100 text-purple-600"
    >
      Issue de réintégration
    </button>
  </div>

  <!-- Informations utilisateur Gitlab -->
  <div class="flex items-center gap-2">
    <div class="flex flex-col items-end">
      <span class="text-sm font-semibold">{{
        isAuthenticatedOnGitlab()
          ? gitlabUser?.name + " (" + gitlabUser?.username + ")"
          : "Gitlab"
      }}</span>
      <button
        class="text-xs font-semibold transition-colors duration-200 hover:text-purple-600"
        (click)="isAuthenticatedOnGitlab() ? gitlabLogout() : gitlabLogin()"
      >
        {{ isAuthenticatedOnGitlab() ? "Se déconnecter" : "Se connecter" }}
      </button>
    </div>
    <img
      class="h-[35px] w-[35px] rounded-full bg-gray-200"
      src="{{
        isAuthenticatedOnGitlab()
          ? gitlabUser?.avatar_url
          : 'assets/gitlab-logo.png'
      }}"
      alt="GitLab Avatar"
    />
  </div>

  <!-- Informations utilisateur Office 365 -->
  <div class="flex items-center gap-2">
    <div class="flex flex-col items-end">
      <span class="text-sm font-semibold">{{
        user ? user.displayName : "Office 365"
      }}</span>
      <button
        class="text-xs font-semibold transition-colors duration-200 hover:text-purple-600"
        (click)="loginDisplay ? microsoftLogout() : microsoftLogin()"
      >
        {{ loginDisplay ? "Se déconnecter" : "Se connecter" }}
      </button>
    </div>
    <img
      [ngClass]="{ 'p-1': !user?.profilePictureBase64 }"
      class="h-[35px] w-[35px] rounded-full bg-gray-200"
      src="{{
        user?.profilePictureBase64
          ? user?.profilePictureBase64
          : 'assets/office-365-logo.png'
      }}"
      alt="Office 365 Avatar"
    />
  </div>
</div>
