<div class="mx-auto flex flex-col gap-4 border rounded-lg border-gray-400 p-4">
  <div class="flex gap-2 items-center">
    <input
      [formControl]="searchValueControl"
      type="text"
      class="p-1 border border-gray-400 rounded-md"
      placeholder="Rechercher des issues"
    />

    <div class="flex items-center mb-4 gap-1">
      <input
        type="checkbox"
        class="p-1 border border-gray-400 rounded-md bg-transparent"
        id="openOnly"
        [formControl]="openOnlyControl"
      />
      <label for="openOnly">Ouvertes uniquement</label>
    </div>
  </div>

  <div *ngIf="searchValueControl.value !== ''">
    <p *ngIf="loadingIssuesList" class="text-center text-gray-500">
      Chargement...
    </p>
    <p
      *ngIf="!loadingIssuesList && issues.length === 0"
      class="text-center text-gray-500"
    >
      Aucun résultat trouvé
    </p>
    <div
      *ngIf="!loadingIssuesList"
      class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4"
    >
      <div
        (click)="setSelectedProject(issue)"
        *ngFor="let issue of issues"
        class="hover:cursor-pointer relative flex flex-col items-start bg-white shadow-md rounded-lg p-4 border"
        [ngClass]="{ 'border-blue-500': selectedProject?.iid === issue.iid }"
      >
        <div
          class="absolute top-0 right-0 rounded-full size-2 m-2"
          [ngClass]="{
            'bg-green-500': issue.state === 'opened',
            'bg-red-500': issue.state === 'closed'
          }"
        ></div>
        <div class="mb-2">
          <div class="flex">
            <h1
              class="text-md font-bold line-clamp-2 text-ellipsis overflow-hidden"
            >
              {{ issue.title }}
            </h1>
            <h1 class="text-md font-bold line-clamp-1 shrink-0">
              &nbsp;(#{{ issue.iid }})
            </h1>
          </div>
          <p class="text-xs italic text-gray-600">
            Assignee : {{ issue.assignee?.name ?? "Aucun" }}
          </p>
        </div>
        <p class="text-gray-600 flex-1 mb-4 text-xs text-ellipsis line-clamp-3">
          {{ issue.description || "Pas de description disponible" }}
        </p>
        <a
          href="{{ getProjectDetailsUrl(issue.iid) }}"
          target="_blank"
          class="text-blue-500 hover:underline text-xs font-medium"
        >
          Voir plus
        </a>
      </div>
    </div>
  </div>

  <div class="bg-gray-50 rounded-lg p-3" *ngIf="recentIssues.length > 0">
    <details open>
      <summary class="cursor-pointer mb-2">Issues récentes</summary>
      <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
        <div
          (click)="setSelectedProject(issue)"
          *ngFor="let issue of recentIssues"
          class="hover:cursor-pointer relative flex flex-col items-start bg-white shadow-md rounded-lg p-4 border"
          [ngClass]="{ 'border-blue-500': selectedProject?.iid === issue.iid }"
        >
          <div
            class="absolute top-0 right-0 rounded-full size-2 m-2"
            [ngClass]="{
              'bg-green-500': issue.state === 'opened',
              'bg-red-500': issue.state === 'closed'
            }"
          ></div>
          <div class="flex">
            <h1
              class="text-md font-bold line-clamp-2 text-ellipsis overflow-hidden"
            >
              {{ issue.title }}
            </h1>
            <h1 class="text-md font-bold line-clamp-1 shrink-0">
              &nbsp;(#{{ issue.iid }})
            </h1>
          </div>
        </div>
      </div>
    </details>
  </div>
</div>
