<div class="fixed inset-x-0 z-50 mx-auto w-2/3" @list>
  <div @animate *ngFor="let alert of alertsService.alerts">
    <div
      (click)="close(alert)"
      [ngClass]="{
        'border-green-500 bg-green-100 text-green-600 hover:bg-green-200':
          alert.type === alertEnum.Success,
        'border-red-500 bg-red-100 text-red-600 hover:bg-red-200':
          alert.type === alertEnum.Error,
        'border-yellow-500 bg-yellow-100 text-yellow-600 hover:bg-yellow-200':
          alert.type === alertEnum.Warning,
      }"
      class="m-2 cursor-pointer rounded-xl border-2 p-4 text-center transition-colors"
      @animate
    >
      <span class="flex-1" [innerHTML]="alert.message"></span>
    </div>
  </div>
</div>
