a { cursor: pointer }

.alert-container {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    position:absolute;
    width: 50%;
    z-index: 999;
}

.alert {
    @include border-radius-small;
    display: flex;
    text-align: center !important;
    padding: .75rem 1.25rem;
    margin-bottom: .75rem;
    align-items: center;
    gap: 12px;

    &-danger {
        @extend .alert;
        color: #721c24;
        background-color: #f8d7da;
        border: solid 2px #f5c6cb;
    }

    span {
        flex: 1;
    }

    a {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        opacity: .5;
    }
}