
table {
  width: 100%;
  margin: 1rem 0;
  table-layout: fixed;
  border-collapse: collapse;

  .header {
    height: 3rem;
    table-layout: fixed;
    
    th {
      padding-left: 2em;
      padding-right: 2em;
      border-bottom: 2px solid $inactive-color;
    }

    .name     { width: 40%; }
    .prefix   { width: 10%;  }
    .format   { width: 20%; }
    .exemple  { width: 10%;  }
    .category { width: 20%; }
  }

  .content {
    height: 2rem;
    
    td {
      text-align: center;
      border-top: 2px solid $inactive-color;
      font-size:$font-size-small;
    }
  }
}
