
table {
  width: 100%;
  margin-top: 1rem;
  table-layout: fixed;
  border-collapse: collapse;

  .header {
    height: 3rem;
    table-layout: fixed;
    
    th {
      padding-left: 2em;
      padding-right: 2em;
      border-bottom: 2px solid $inactive-color;
    }

    .prefix   { width: 10%;  }
  }

  .content {
    height: 2rem;
    
    td {
      text-align: left;
      border-top: 2px solid $inactive-color;
      font-size:$font-size-small;
      padding: 0 2em;
      overflow: hidden;
    }
  }
}
