@mixin border-radius-small {
  border-radius: 10px;
}

@mixin border-radius-normal {
  border-radius: 20px;
}

@mixin hover-transition {
  transition: all 200ms;
}

* {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
  height: 100vh;
}

body {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  background-color: $background-color;
  width: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
