@mixin border-radius-small {
    border-radius: 10px;
}

@mixin border-radius-normal {
    border-radius: 20px;
}

* { 
    box-sizing: border-box;
}

html {
    background-color: $background-color;
    height: 100vh;
}

body {
    height: 100%;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;

    #main-content {
        flex: 1;
        padding: 1rem;
    }
}

.flex {
    display: flex;
    gap: 12px;
    &.column {
        flex-direction: column;
        align-items: center;
    }
    &.items-baseline {
        align-items: baseline;
    }
}

.flex-remaining-space {
    flex: 999;
}

.max-height {
    height: 100%;
}

.max-width {
    width: 100%;
}

.half-width {
    width:50%
}
