@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "normalize.css";
@include meta.load-css("components/loader");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
