<div class="flex flex-col">
  <label class="flex mb-2"
    >{{ label }}
    <p *ngIf="formControlRequired()" class="text-red-500">*</p></label
  >

  @if (isSelectInput || yesNoSelector) {
  <select
    class="p-1 border border-gray-400 rounded-md bg-transparent transition duration-200 ease focus:outline-none focus:border-purple-700 hover:border-purple-600 focus:shadow"
    [formControl]="control"
    [ngClass]="{
      'border-red-500 border-1': formControlInvalid()
    }"
  >
    <option
      *ngFor="let option of yesNoSelector ? yesNoOptions : selectOptions"
      [value]="option.value"
    >
      {{ option.name }}
    </option>
  </select>
  <span class="text-sm text-red-500" *ngIf="formControlInvalid()"
    >Veuillez selectionner une valeur</span
  >
  } @else {
  <textarea
    *ngIf="isMultiline"
    class="p-1 border border-gray-400 rounded-md transition duration-200 ease focus:outline-none focus:border-purple-700 hover:border-purple-600 focus:shadow"
    type="text"
    [formControl]="control"
    [ngClass]="{
      'border-red-500 border-1': formControlInvalid()
    }"
  ></textarea>

  <input
    *ngIf="!isMultiline"
    class="p-1 border border-gray-400 rounded-md transition duration-200 ease focus:outline-none focus:border-purple-700 hover:border-purple-600 focus:shadow"
    type="text"
    [formControl]="control"
    [ngClass]="{
      'border-red-500 border-1': formControlInvalid()
    }"
  />
  <span class="text-sm text-red-500" *ngIf="formControlInvalid()"
    >Veuillez renseigner une valeur</span
  >
  }
</div>
