.nav-bar {
    display: flex;
}

.title {
    display: flex;
    flex-grow: 100;
    align-items: center;
    gap: 12px; 
    font-size: 18px;
}

.user-information {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px; 
}

.username {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: medium;
}

.authentication-status-btn {
    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    color: #8E8E8E;
    cursor: pointer;
    font-size: small;
}