<img
  title="Ouvrir le fichier Excel de la charte de programmation"
  class="app-logo"
  src="assets/custy_logo_titre.svg"
  alt="Icone Custy"
/>

<div class="nav-links-container">
  <a class="small-text" (click)="openSharepointWorksheet()">
    Charte de programmation
  </a>
  <a class="small-text" (click)="openRevolutionGuidelines()">
    Charte IHM Révolution
  </a>
  <a class="small-text" (click)="openNewIssueTooltip()">
    Création d'une issue de réintégration
  </a>
</div>

<div class="user-information">
  <div class="username">
    <div>
      Gitlab :
      {{
        isAuthenticatedOnGitlab()
          ? gitlabUser?.name + " (" + gitlabUser?.username + ")"
          : "non connecté"
      }}
    </div>
    <a
      class="small-text"
      (click)="isAuthenticatedOnGitlab() ? gitlabLogout() : gitlabLogin()"
      >{{ isAuthenticatedOnGitlab() ? "Se déconnecter" : "Se connecter" }}</a
    >
  </div>
  <img
    *ngIf="user?.profilePictureBase64"
    class="profile-picture"
    src="{{ gitlabUser?.avatar_url }}"
    alt=""
  />
</div>

<div class="user-information">
  <div class="username">
    <div *ngIf="user">{{ user.displayName }}</div>
    <a *ngIf="!loginDisplay" (click)="microsoftLogin()" class="small-text">
      Se connecter
    </a>
    <a *ngIf="loginDisplay" (click)="microsoftLogout()" class="small-text">
      Se déconnecter
    </a>
  </div>

  <img
    *ngIf="user?.profilePictureBase64"
    class="profile-picture"
    src="{{ user?.profilePictureBase64 }}"
    alt=""
  />
  <div
    *ngIf="!user?.profilePictureBase64"
    class="profile-picture placeholder"
  ></div>
</div>
