<img title="Ouvrir le fichier Excel de la charte de programmation" (click)="openSharepointWorksheet()" class="app-logo" src="assets/custy_logo_titre.svg" alt="Icone Custy">
<div class="user-information">
    <div class="username">
        <div *ngIf="user">{{user.displayName}}</div>
        <a *ngIf="!loginDisplay" (click)="login()" class="small-text">Se connecter</a>
        <a *ngIf="loginDisplay" (click)="logout()" class="small-text">Se déconnecter</a>
    </div>
    
    <img *ngIf="user?.profilePictureBase64" class="profile-picture" src="{{user?.profilePictureBase64}}" alt="">
    <div *ngIf="!user?.profilePictureBase64" class="profile-picture placeholder"></div>
</div>
