<div
  class="h-14 px-4 border rounded-xl border-gray-400 bg-gray-100 flex items-center gap-8"
>
  <img
    title="Ouvrir le fichier Excel de la charte de programmation"
    class="h-8"
    src="assets/custy_logo_titre.svg"
    alt="Icone Custy"
  />

  <div class="flex flex-1 gap-4">
    <button class="text-xs hover:font-semibold" routerLink="/">
      Charte de programmation
    </button>

    <button
      class="text-xs hover:font-semibold"
      routerLink="/issue-reintegration"
    >
      Issue de réintégration
    </button>
  </div>

  <div class="max-md:invisible flex items-center gap-2">
    <div class="flex flex-col gap-0 items-end">
      <span class="text-sm">
        {{
          isAuthenticatedOnGitlab()
            ? gitlabUser?.name + " (" + gitlabUser?.username + ")"
            : "Gitlab"
        }}
      </span>
      <button
        class="text-xs"
        (click)="isAuthenticatedOnGitlab() ? gitlabLogout() : gitlabLogin()"
      >
        {{ isAuthenticatedOnGitlab() ? "Se déconnecter" : "Se connecter" }}
      </button>
    </div>
    <img
      class="w-[35px] h-[35px] rounded-full bg-gray-400"
      src="{{
        gitlabUser?.avatar_url
          ? gitlabUser?.avatar_url
          : 'assets/gitlab-logo.png'
      }}"
      alt=""
    />
  </div>

  <div class="max-md:invisible flex items-center gap-2">
    <div class="flex flex-col gap-0 items-end">
      <div class="text-sm">{{ user ? user.displayName : "Office 365" }}</div>
      <button
        (click)="loginDisplay ? microsoftLogout() : microsoftLogin()"
        class="text-xs"
      >
        {{ loginDisplay ? "Se déconnecter" : "Se connecter" }}
      </button>
    </div>

    <img
      class="w-[35px] h-[35px] rounded-full bg-gray-400"
      src="{{
        user?.profilePictureBase64
          ? user?.profilePictureBase64
          : 'assets/office-365-logo.png'
      }}"
      alt=""
    />
  </div>
</div>
