<div class="loading" *ngIf="!valuesInitialized">
    <span>Récupération des valeurs depuis Sharepoint...</span>
    <div class="loader">
        <div class="item1"></div>
        <div class="item2"></div>
        <div class="item3"></div>
    </div>
</div>

<div *ngIf="valuesInitialized">
    <div>Nombre d'éléments : {{numberOfItems}}</div>

    <table class="neuphormism-in">
        <tr>
            <th>Nom de l'élément</th>
            <th>Préfixe</th>
            <th>Format / Casse</th>
            <th>Exemple</th>
            <th>Catégorie</th>
        </tr>
        <ng-container *ngFor="let codingGuidelineItem of codingGuidelinesItems">
            <tr>
                <td>{{codingGuidelineItem.name}}</td>
                <td>{{codingGuidelineItem.prefix}}</td>
                <td>{{codingGuidelineItem.case}}</td>
                <td>{{codingGuidelineItem.example}}</td>
                <td>{{codingGuidelineItem.sheetName}}</td>
            </tr>
        </ng-container>
    </table>
</div>
