
<div class="search-container flex items-baseline half-width">
    <app-code-guideline-search class="flex-remaining-space" (onSearchValueChanged)="onSearchValueUpdated($event)"/>
    <button (click)="updateList()">⭯</button>
</div>

<div class="loader-container" *ngIf="!valuesInitialized">
    <div class="loader">
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
        <div class="loader-square"></div>
    </div>
    <p>Récupération des valeurs depuis Sharepoint...</p>
</div>

<div *ngIf="valuesInitialized">
    <table>
        <tr class="header">
            <th class="name">Nom de l'élément</th>
            <th class="prefix">Préfixe</th>
            <th class="format">Format / Casse</th>
            <th class="exemple">Exemple</th>
            <th class="category">Catégorie</th>
        </tr>
        <ng-container *ngFor="let codingGuidelineItem of filteredCodingGuidelinesItems">
            <tr class="content">
                <td>{{codingGuidelineItem.name}}</td>
                <td>{{codingGuidelineItem.prefix}}</td>
                <td>{{codingGuidelineItem.case}}</td>
                <td class="exemple">{{codingGuidelineItem.example}}</td>
                <td class="category">{{codingGuidelineItem.sheetName}}</td>
            </tr>
        </ng-container>
    </table>
</div>
