<form [formGroup]="issueCreationForm" class="mx-auto max-w-[700px]">
  <div
    class="mb-6 font-bold border-2 rounded-xl border-red-500 p-4 text-red-500"
  >
    <p>Attention : ce formulaire est une béta !</p>
    <p>
      Le formulaire officiel pour faire des issues de réintégration est
      <a
        class="underline text-blue-500"
        href="http://10.128.88.23:6969/reintegration/reintegration.html"
        >ici</a
      >
    </p>
  </div>

  <div class="flex flex-col gap-6">
    <div class="flex flex-col">
      <label class="flex mb-2" for="developmentType"
        >Type de développement
        <p class="text-red-500">*</p></label
      >
      <select
        class="p-1 border border-gray-400 rounded-md bg-transparent"
        id="developmentType"
        formControlName="developmentType"
        [ngClass]="{
          'border-red-500 border-2': formControlInvalid('developmentType')
        }"
      >
        <option *ngFor="let label of developmentTypeLabels" [value]="label.id">
          {{ label.name }}
        </option>
      </select>
      <span
        class="text-sm text-red-500"
        *ngIf="formControlInvalid('developmentType')"
        >Veuillez selectionner une valeur</span
      >
    </div>

    <div class="flex flex-col">
      <label class="flex" for="scope"
        >Périmètre
        <p class="text-red-500 mb-2">*</p>
      </label>
      <input
        class="p-1 border border-gray-400 rounded-md"
        type="text"
        id="scope"
        formControlName="scope"
        [ngClass]="{
          'border-red-500 border-2': formControlInvalid('scope')
        }"
      />
      <span class="text-sm text-red-500" *ngIf="formControlInvalid('scope')"
        >Veuillez renseigner une valeur</span
      >
    </div>

    <div class="flex flex-col">
      <label class="flex mb-2" for="title"
        >Titre
        <p class="text-red-500">*</p></label
      >
      <input
        class="p-1 border border-gray-400 rounded-md"
        type="text"
        id="title"
        formControlName="title"
        [ngClass]="{
          'border-red-500 border-2': formControlInvalid('title')
        }"
      />
      <span class="text-sm text-red-500" *ngIf="formControlInvalid('title')"
        >Veuillez renseigner une valeur</span
      >
    </div>

    <div class="flex flex-col">
      <label class="mb-2" for="description">Description</label>
      <textarea
        class="p-1 border border-gray-400 rounded-md"
        id="description"
        formControlName="description"
      ></textarea>
    </div>

    <div class="flex flex-col gap-2">
      <label class="flex" for="project-list"
        >Projet
        <p class="text-red-500">*</p></label
      >
      <app-project-list
        id="project-list"
        (selectedProjectEvent)="setSelectedProject($event)"
        formControlName="selectedProject"
        [ngClass]="{
          'border-red-500 border-2 rounded-lg':
            formControlInvalid('selectedProject')
        }"
      ></app-project-list>
    </div>

    <div class="flex flex-col gap-2">
      <label class="flex" for="bug"
        >Est une correction de bug ?
        <p class="text-red-500">*</p></label
      >
      <select
        class="p-1 border border-gray-400 rounded-md bg-transparent"
        id="bug"
        formControlName="isBugCorrection"
        [ngClass]="{
          'border-red-500 border-2': formControlInvalid('isBugCorrection')
        }"
      >
        <option value="false">Non</option>
        <option value="true">Oui</option>
      </select>
      <span
        class="text-sm text-red-500"
        *ngIf="formControlInvalid('isBugCorrection')"
        >Veuillez sélectionner une valeur</span
      >
    </div>

    <div class="flex flex-col gap-2">
      <label class="flex" for="quoiDeNeuf"
        >Doit être mentionné dans le 'quoi de neuf' ?
        <p class="text-red-500">*</p></label
      >
      <select
        class="p-1 border border-gray-400 rounded-md bg-transparent"
        id="quoiDeNeuf"
        formControlName="isQuoiDeNeuf"
        [ngClass]="{
          'border-red-500 border-2': formControlInvalid('isQuoiDeNeuf')
        }"
      >
        <option value="false">Non</option>
        <option value="true">Oui</option>
      </select>
      <span
        class="text-sm text-red-500"
        *ngIf="formControlInvalid('isQuoiDeNeuf')"
        >Veuillez sélectionner une valeur</span
      >
    </div>

    <div class="flex flex-col">
      <label class="flex mb-2" for="milestone"
        >Milestone
        <p class="text-red-500">*</p></label
      >
      <app-milestone-list
        (selectedMilestonesEvent)="setSelectedMilestones($event)"
        [milestones]="milestones"
        formControlName="selectedMilestones"
        [ngClass]="{
          'border-red-500 border-2 rounded-lg':
            formControlInvalid('selectedMilestones')
        }"
      ></app-milestone-list>
      <span
        class="text-sm text-red-500"
        *ngIf="formControlInvalid('selectedMilestones')"
        >Veuillez sélectionner au moins une valeur</span
      >
    </div>

    <fieldset class="border-2 border-gray-400 rounded-md p-4">
      <legend class="p-2 text-lg font-semibold">
        Résumé de la réintégration
      </legend>
      <app-new-issue-actions-summary
        [issue]="futureIssue"
        [project]="selectedProject"
        [selectedMilestones]="selectedMilestones"
      ></app-new-issue-actions-summary>
      <div class="flex gap-2 items-center justify-end mt-6">
        <span
          class="text-sm text-gray-500 italic"
          *ngIf="!issueCreationForm.valid"
          >Veuillez remplir tous les champs obligatoires</span
        >
        <!-- TODO : ajouter un spinner pendant chargement + message uen fois le traitement terminé -->
        <button
          (click)="createNewIssue()"
          [disabled]="!issueCreationForm.valid"
          class="p-2 float-end border-gray-400 rounded-md bg-purple-700 text-white disabled:bg-gray-200 disabled:text-gray-500"
        >
          Créer une issue de réintégration
        </button>
      </div>
    </fieldset>
  </div>
</form>
