<form [formGroup]="issueCreationForm" class="mx-auto">
  <div
    class="mb-6 font-bold border-2 rounded-xl border-red-500 p-4 text-red-500"
  >
    <p>Attention : ce formulaire est une béta !</p>
    <p>
      Le formulaire officiel pour faire des issues de réintégration est
      <a
        class="underline text-blue-500"
        href="http://10.128.88.23:6969/reintegration/reintegration.html"
        >ici</a
      >
    </p>
  </div>

  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
      <label for="developmentType">Type de développement</label>
      <select
        class="p-1 border border-gray-400 rounded-md bg-transparent"
        id="developmentType"
        formControlName="developmentType"
      >
        <option *ngFor="let label of labels" [value]="label.id">
          {{ label.name }}
        </option>
      </select>
    </div>

    <div class="flex flex-col">
      <label class="flex mb-2" for="scope"
        >Périmètre
        <p class="text-red-500">*</p>
      </label>
      <input
        [ngClass]="{
          'border-red-500 border-2':
            issueCreationForm.get('scope')?.invalid &&
            (issueCreationForm.get('scope')?.dirty ||
              issueCreationForm.get('scope')?.touched)
        }"
        class="p-1 border border-gray-400 rounded-md"
        type="text"
        id="scope"
        formControlName="scope"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="title">Titre</label>
      <input
        class="p-1 border border-gray-400 rounded-md"
        type="text"
        id="title"
        formControlName="title"
      />
    </div>

    <div class="flex flex-col gap-2">
      <label for="description">Description (optionnel)</label>
      <textarea
        class="p-1 border border-gray-400 rounded-md"
        id="description"
        formControlName="description"
      ></textarea>
    </div>

    <div class="flex flex-col gap-2">
      <label for="project-list">Projet</label>
      <app-project-list
        id="project-list"
        (selectedProjectEvent)="setSelectedProject($event)"
        formControlName="selectedProject"
      ></app-project-list>
    </div>

    <div class="flex flex-col gap-2">
      <label for="bug">Est une correction de bug ?</label>
      <select
        class="p-1 border border-gray-400 rounded-md bg-transparent"
        id="bug"
        formControlName="isBugCorrection"
      >
        <option value="false">Non</option>
        <option value="true">Oui</option>
      </select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="quoiDeNeuf"
        >Doit être mentionné dans le 'quoi de neuf' ?</label
      >
      <select
        class="p-1 border border-gray-400 rounded-md bg-transparent"
        id="quoiDeNeuf"
        formControlName="isQuoiDeNeuf"
      >
        <option value="false">Non</option>
        <option value="true">Oui</option>
      </select>
    </div>

    <div class="flex flex-col gap-2">
      <label for="milestone">Milestone</label>
      <app-milestone-list
        (selectedMilestonesEvent)="setSelectedMilestones($event)"
        [milestones]="milestones"
        formControlName="selectedMilestones"
      ></app-milestone-list>
    </div>

    <fieldset class="border-2 border-gray-400 rounded-md p-4">
      <legend class="p-2 text-lg font-semibold">
        Résumé de la réintégration
      </legend>
      <app-new-issue-actions-summary
        [issue]="futureIssue"
        [project]="selectedProject"
        [selectedMilestones]="selectedMilestones"
      ></app-new-issue-actions-summary>
      <button
        [disabled]="!issueCreationForm.valid"
        class="p-2 mt-6 float-end border-gray-400 rounded-md bg-purple-700 text-white disabled:bg-gray-200 disabled:text-gray-500"
      >
        Créer une issue de réintégration
      </button>
    </fieldset>
  </div>
</form>
