<div class="animated-label-input">
    <input #searchInput (input)="onInputChanged(searchInput.value)">
    <label>
        <span style="transition-delay:0ms">R</span>
        <span style="transition-delay:20ms">e</span>
        <span style="transition-delay:40ms">c</span>
        <span style="transition-delay:60ms">h</span>
        <span style="transition-delay:80ms">e</span>
        <span style="transition-delay:100ms">r</span>
        <span style="transition-delay:120ms">c</span>
        <span style="transition-delay:140ms">h</span>
        <span style="transition-delay:160ms">e</span>
        <span style="transition-delay:180ms">r</span>
    </label>
</div>
