input::placeholder {
    color: gray;
}

input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

    background: #e8e8e8;
    padding: 1em;
    padding-left: 1.5em;
    height: 3em;
    border-radius: 20px;
    box-shadow: inset 6px 6px 6px #c5c5c5, inset -6px -6px 6px #ffffff;
}