<div
  [ngClass]="{
    'hover:cursor-pointer': !disableInteraction,
    '!border-blue-500':
      selectedProject?.iid === issue?.iid && !disableInteraction
  }"
  class="border-gray-400 hover:cursor-pointer relative flex flex-col items-start bg-white rounded-lg p-4 border-2 h-full"
>
  <!-- TODO: modifier ça pour que ça ressemble aux pastilles des milestones -->
  <div
    class="absolute top-0 right-0 rounded-full size-2 m-2"
    [ngClass]="{
      'bg-green-500': issue?.state === 'opened',
      'bg-red-500': issue?.state === 'closed'
    }"
  ></div>
  <div [ngClass]="{ 'mb-2': !hideDetails }">
    <div class="grid grid-cols-[1fr_auto] gap-1 items-start">
      <h1 title="{{ issue?.title }}" class="text-md font-bold truncate">
        {{ issue === undefined ? "Aucun projet selectionné" : issue.title }}
      </h1>
      <h1 class="text-md font-bold whitespace-nowrap">
        {{ issue === undefined ? "" : "(#" + issue.iid + ")" }}
      </h1>
    </div>
    <p class="text-xs italic text-gray-600">
      Assignee : {{ issue?.assignee?.name ?? "Aucun" }}
    </p>
  </div>
  <p
    *ngIf="!hideDetails"
    class="text-gray-600 flex-1 text-xs text-ellipsis line-clamp-3"
    [ngClass]="{ 'mb-4': issue && !hideDetails }"
  >
    {{ issue?.description || "Pas de description disponible" }}
  </p>
  <a
    *ngIf="issue && !hideDetails"
    href="{{ getProjectDetailsUrl(issue.iid) }}"
    target="_blank"
    class="text-blue-500 hover:underline text-xs font-medium"
  >
    Voir plus
  </a>
</div>
