<div class="flex items-start space-x-4 border rounded-lg border-gray-400 p-4">
  <div class="shrink-0">
    <img src="" alt="" class="w-8 h-8 rounded-full" />
  </div>
  <div class="flex-1">
    <div class="flex items-center space-x-2">
      <span href="#" class="font-bold text-gray-900">{{
        issue.assignee?.name
      }}</span>
      <span class="text-gray-500">&#64;{{ issue.assignee?.username }}</span>
      <span class="text-gray-500">·</span>
      <span class="text-gray-500 text-sm">just now</span>
    </div>
    <div class="mt-2">
      <!-- TODO: ajouter une lien cliquable is le lien est ok -->

      <p class="text-gray-700" [ngClass]="{ italic: !issue.title }">
        {{ !issue.title ? titlePlaceholder : issue.title }} (@if(issue.web_url)
        {
        <a
          class="text-blue-500 underline"
          href="{{ issue.web_url }}"
          target="_blank"
          >lien</a
        >
        } @else {
        <span class="text-blue-500 underline">&#64;URL</span>
        })
      </p>
      <p class="text-gray-700">{{ issue.description }}</p>
    </div>
    <div class="flex gap-2">
      <span
        *ngFor="let label of issue.detailed_labels"
        [ngStyle]="{ 'background-color': label.color }"
        class="mt-2 inline-flex items-center rounded-full px-2 py-[2px] text-xs font-medium text-white ring-1 ring-inset ring-gray-500/10"
        >{{ label.name }}</span
      >
    </div>
  </div>
</div>
