button {
    @include border-radius-small;
    @include hover-transition;

    height: 2em;
    background-color: $background-color-alt;
    border: 2px solid $inactive-color;
    color: $text-color;
    cursor: pointer;
    text-align: center;
    padding: 0 .5em;

    &:hover {
        color: #fff;
        background-color: $primary-color;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-1px);
    }
    
    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
}

a{
    @include hover-transition;

    color: $link-color;
    cursor: pointer;
    
    &.small-text {
        font-size: $font-size-smallest;
    }

    &.underline {
        text-decoration: underline;
    }

    &:hover {
       text-shadow: 0px 0px 1px $link-color;;
       transform: translateY(-1px);
    }

    &:active {
        transform: translateY(0);
    }
}