.connection-required-component {
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100%;
    margin: auto;
    flex-direction: column;
    border-radius: 20px;
    color: #666666;
    border: solid 2px #9a9a9a;
    font-size: large;

    a { 
        cursor: pointer ;
        font-weight: 600;
        text-decoration: underline;
    }
}