.navbar {
    height: 3rem;
    padding : 10px;
    display: flex;
    background-color: $background-color-alt;
}

.app-logo {
    height: 100%;
    margin-right: 20px;
}

.user-information {
    float: right;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 12px; 
}

.username {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profile-picture {
    width: 35px; height: 35px; border-radius: 9999px
}

.placeholder {
    background: #9A9A9A;
}

.nav-links-container {
    display: flex;
    gap: 20px;
    align-items: center;
}