<div class="border rounded-lg border-gray-400 p-4">
  <input
    *ngIf="!disableInteraction"
    [formControl]="searchValueControl"
    type="text"
    class="flex-1 p-1 border border-gray-400 rounded-md mb-2 w-full max-w-[400px]"
    placeholder="Rechercher des milestones"
  />

  <div class="p-2 rounded-md flex flex-col">
    <div *ngIf="!disableInteraction" class="mb-4">
      <button class="text-blue-500" (click)="toggleSelectAll()">
        Tout cocher
      </button>
    </div>

    <p class="text-center flex-1 text-gray-500" *ngIf="milestones.length === 0">
      Aucune milestone {{ disableInteraction ? "selectionnée" : "trouvée" }}
    </p>
    <ul class="list-none">
      <li
        class="flex items-center mb-2 gap-2"
        *ngFor="let milestone of milestones"
      >
        <label class="flex items-center">
          <input
            *ngIf="!disableInteraction"
            type="checkbox"
            class="mr-2"
            [checked]="isSelected(milestone)"
            (change)="toggleMilestone(milestone)"
          />
          <span>{{ milestone.title }}</span>
        </label>
        <span>-</span>
        <a
          class="text-blue-500 underline"
          href="{{ getMilestoneURL(milestone) }}"
          target="_blank"
          >voir plus</a
        >
      </li>
    </ul>
  </div>
</div>
