<app-connection-required
  *ngIf="!user && contentLoaded"
></app-connection-required>

<div class="flex flex-col items-center h-full" *ngIf="user">
  <div class="flex items-baseline gap-2 w-2/3">
    <app-code-guideline-search
      class="flex-1"
      (onSearchValueChanged)="onSearchValueUpdated($event)"
    />
    <button
      class="text-gray-400 hover:text-gray-700 border-gray-400 border rounded-full size-9 hover:border-purple-600 transition-colors shadow-sm hover:shadow"
      (click)="updateList()"
      title="Recharger la liste"
    >
      ⭯
    </button>
    <button
      class="text-gray-400 hover:text-gray-700 border-gray-400 border rounded-full size-9 hover:border-purple-600 transition-colors shadow-sm hover:shadow"
      (click)="openSharepointWorksheet()"
      title="Ouvrir le document Excel"
    >
      ✎
    </button>
  </div>

  <div class="loader-container" *ngIf="!valuesInitialized">
    <div class="loader">
      <div class="loader-square bg-purple-700"></div>
      <div class="loader-square bg-purple-700"></div>
      <div class="loader-square bg-purple-700"></div>
      <div class="loader-square bg-purple-700"></div>
      <div class="loader-square bg-purple-700"></div>
      <div class="loader-square bg-purple-700"></div>
      <div class="loader-square bg-purple-700"></div>
    </div>
    <p>Récupération des valeurs depuis Sharepoint...</p>
  </div>

  <div
    class="border border-gray-400 overflow-x-auto my-4 rounded-xl w-full"
    *ngIf="valuesInitialized"
  >
    <table class="w-full text-sm text-left text-gray-700">
      <thead class="text-xs uppercase bg-gray-200 text-left text-gray-600">
        <tr>
          <th class="px-6 py-3">Nom de l'élément</th>
          <th class="px-6 py-3">Préfixe</th>
          <th class="px-6 py-3">Format / Casse</th>
          <th class="px-6 py-3">Catégorie</th>
        </tr>
      </thead>
      <ng-container
        *ngFor="let codingGuidelineItem of filteredCodingGuidelinesItems"
      >
        <tbody class="odd:bg-white even:bg-gray-100 border-b border-gray-300">
          <tr>
            <td class="px-6 py-4">
              <span [appHighlightOnSearch]="currentSearchValue">{{
                codingGuidelineItem.name
              }}</span>
            </td>
            <td class="px-6 py-4">
              <span [appHighlightOnSearch]="currentSearchValue">{{
                codingGuidelineItem.prefix
              }}</span>
            </td>
            <td class="px-6 py-4">
              <span [appHighlightOnSearch]="currentSearchValue">{{
                codingGuidelineItem.case
              }}</span>
            </td>
            <td class="px-6 py-4">
              <span [appHighlightOnSearch]="currentSearchValue">{{
                codingGuidelineItem.sheetName
              }}</span>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>
