<ul aria-label="Activity feed" role="feed" class="flex flex-col gap-8 py-6">
  <li role="article" class="flex items-start">
    <span
      class="flex items-center justify-center size-7 text-white rounded-full bg-orange-500"
    >
      <i class="material-icons text-[1.2rem]">comment</i>
    </span>
    <div class="ml-4 flex flex-col w-full">
      <h4 class="text-sm text-gray-700">Aperçu du commentaire</h4>
      <app-comment-preview [issue]="issue"></app-comment-preview>
    </div>
  </li>
  <li role="article" class="flex items-start">
    <span
      class="flex items-center justify-center size-7 text-white rounded-full bg-blue-500"
    >
      <i class="material-icons text-[1.2rem]">stars</i>
    </span>
    <div class="ml-4 flex flex-col w-full">
      <h4 class="text-sm text-gray-700">Milestones selectionnées</h4>
      <app-milestone-list
        [milestones]="selectedMilestones"
        [disableInteraction]="true"
      ></app-milestone-list>
    </div>
  </li>
  <li role="article" class="flex items-start">
    <span
      class="flex items-center justify-center size-7 text-white rounded-full bg-green-500"
    >
      <i class="material-icons text-[1.2rem]">folder</i>
    </span>
    <div class="ml-4 flex flex-col w-full">
      <h4 class="text-sm text-gray-700">Projet concerné</h4>
      <app-project-issue-card
        [issue]="project"
        [disableInteraction]="true"
      ></app-project-issue-card>
    </div>
  </li>
</ul>
