<!-- TODO : faire en sorte que les messages s'affiche en haut de l'écran et pas de la page pour que l'utilisateur le voie -->
<div class="absolute inset-x-0 mx-auto mt-2 w-2/3" @list>
  <div @animate *ngFor="let alert of alertsService.alerts">
    <div
      (click)="close(alert)"
      [ngClass]="
        alert.type === alertEnum.Success
          ? 'bg-green-100 hover:bg-green-200 border-green-500 text-green-600'
          : 'bg-red-100 hover:bg-red-200 border-red-500 text-red-600'
      "
      class="text-center m-2 transition-colors cursor-pointer border-2 rounded-xl p-4"
      @animate
    >
      <span class="flex-1" [innerHTML]="alert.message"></span>
    </div>
  </div>
</div>
